.slideContainer{
  display:flex;
  overflow-x:hidden;
  transition:all .5s ease-out;
  scroll-behavior: smooth;
 
}

.containerChild{
  margin: 0px 40px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.arrowContainer{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-self: center;
}

@media screen and (max-width: 615px) {

  .slideContainer{
    width: 332px;
  }
  
  .containerChild{
    flex-direction: column;
  }
  .arrowContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }

}

@media screen and  (max-width:764px) and (min-width: 616px) {
  .slideContainer{
    width: 332px;
  }
  .arrowContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 70%;
    margin-top: 300px;
    position: absolute;
  }
}

@media screen and (min-width: 1280px) {

  .slideContainer{
    width: 1320px;
  }
  .arrowContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 70%;
    margin-top: 300px;
    position: absolute;
  }
  

}
