.slideContainer{
  width: 1360px;
  position: relative;
  top: 200px;
  display:flex;
  overflow-x:hidden;
  transition:all .5s ease-out;
  scroll-behavior: smooth;
}

.containerChild{
  display:flex;
  flex-direction:row;
  align-items:end;
}

@media screen and (max-width: 600px) {

  .slideContainer{
    width: 330px;
    position: relative;
    top: 200px;
    display:flex;
    overflow-x:hidden;
    transition:all .5s ease-out;
    scroll-behavior: smooth;
  }
  

}