.slideContainer{
  display:flex;
  overflow-x:hidden;
  transition:all .5s ease-out;
  scroll-behavior: smooth;
  align-self: center;
  gap: 11px;
}

.containerChild{
  position:relative;
  margin: 0px 40px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.arrowContainer{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-self: center;
  margin-top: 300px;
}
.heading{
  align-self: flex-start;
  color: #000;
}

@media screen and (max-width: 615px) {

  .slideContainer{
    width: 332px;
  }
  
  .containerChild{
    flex-direction: column;
  }
  .arrowContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 0;
  }

}

@media screen and  (max-width:764px) and (min-width: 616px) {
  .slideContainer{
    width: 332px;
  }
  .arrowContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 450px;
    position: absolute;
  }
}

@media screen and  (min-width: 765px) and (max-width:1082px) {
  .slideContainer{
    width: 662px;
  }
  .arrowContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 760px;
    position: absolute;
  }
}

@media screen and  (min-width: 1082px) and (max-width:1560px) {
  .slideContainer{
    width: 995px;
  }
  .arrowContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 1070px;
    position: absolute;
  }
}




@media screen and (min-width: 1562px) {

  .slideContainer{
    width: 1320px;
  }
  .arrowContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 1420px;
    margin-top: 300px;
    position: absolute;
  }
  

}
