.slideContainer{
  width: 1320px;
  display:flex;
  overflow-x:hidden;
  transition:all .5s ease-out;
  scroll-behavior: smooth;
}

.containerChild{
  position: absolute;
  top: 100px;
  display:flex;
  flex-direction:row;
  align-items:center;
}
.heading{
  width: 1320px;
}
.arrowContainer{
  display: flex;
  flex-direction:row;
}
@media screen and (max-width: 375px) {

  .slideContainer{
    width: 332px;
  }
  
  .containerChild{
    margin: 0px 40px;
    flex-direction: column;
  }

}