.slideContainer{
  width: 1360px;
  background-color:red;
  position: relative;
  top: 200px;
  display:flex;
  overflow-x:auto;
}
.containerChild{
  display:flex;
  flex-direction:row;
  align-items:end;
  background-color:blue;
}
