.partnersContainer{
  background-color: #efefef;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 2px;
  align-items: center;
}
.partner{  -webkit-filter: grayscale(0);}
.partner:hover{
  -webkit-filter: grayscale(1);
}
.upContainer{
  width:100%;
  background-color: red;
  height:200px;
  display: flex;
  flex-direction:row;
}
.img{
  height:100%;
  transform: scaleX(-1);
}
.contentContainer{
  background:linear-gradient(90deg,#efefef,rgba(255,255,255,0));
  width:80%; 
  z-index:1;
}



@media screen and (max-width: 615px) {

  .partnersContainer{
    grid-template-columns: auto auto;
  }
  
}

@media screen and  (max-width:764px) and (min-width: 616px) {
  .partnersContainer{
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and  (min-width: 765px) and (max-width:1082px) {
  .partnersContainer{
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and  (min-width: 1082px) and (max-width:1560px) {
  .partnersContainer{
    grid-template-columns: auto auto auto auto;
  }
}



