.partnersContainer{
  background-color: #efefef;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 2px;
  align-items: center;
}
.partner{  -webkit-filter: grayscale(0);}
.partner:hover{
  -webkit-filter: grayscale(1);
}



@media screen and (max-width: 615px) {

  .partnersContainer{
    grid-template-columns: auto auto;
  }
  
}

@media screen and  (max-width:764px) and (min-width: 616px) {
  .partnersContainer{
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and  (min-width: 765px) and (max-width:1082px) {
  .partnersContainer{
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and  (min-width: 1082px) and (max-width:1560px) {
  .partnersContainer{
    grid-template-columns: auto auto auto auto;
  }
}



