.partnersContainer{
  background-color: #efefef;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 2px;
  align-items: center;
}
.partner{  -webkit-filter: grayscale(1);}
.partner:hover{
  -webkit-filter: grayscale(0);
}