

@media screen and (max-width: 615px) {

  .statsContainer{

  }

}

@media screen and  (max-width:764px) and (min-width: 616px) {
  
}

@media screen and  (min-width: 765px) and (max-width:1082px) {
  
}

@media screen and  (min-width: 1082px) and (max-width:1560px) {
  
}




@media screen and (min-width: 1562px) {  

  .statsContainer{
    width: 100%;
    height: 200px;
    background-color:#1679B6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .statsInnerContainer{
    width: 1320px;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  }
  .titleContainer{
    width:30%;
  }
  .statsInfContainer{
    width: 60%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;

  }

 
}

 /* Information Component Style*/
 .statsComponent{
  width: 200px;
  display: flex;
  flex-direction: column;
}
.up{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-bottom:10px;
}
.iconContainer{
  width:50px;
  height:50px;
  border: 1px #fff dashed;
  margin-right: 10px;
  border-radius:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.9rem;
  
}
.metrics{
  font-size:2rem;
  font-weight:bold;
}
.content{
  font-size: 1rem;
}